
/*style Acura page*/
* {
    margin: 0;
    box-sizing: border-box;
}
/*style header*/
.header {
    background-image:linear-gradient(#0006, #0ff4),url(/imagenes/collage-Acura/Collage.jpg);
    width: 100dvw;
    height: 70dvh;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px;
}

.Title {
    font-size: 130px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    color: #000;
    -webkit-text-stroke: 1px #fff9;
    text-shadow: 2px 4px 1px #fff;
}

/*style bar nav*/
.bar__nav {
    background-image: linear-gradient(#33f4, #44f7), url(/imagenes/japoneses-con-bandera.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
    background-position: center;
    height: 6dvh;
    padding-inline: 10px;
    flex-direction: row;
}

.list__bar {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.bar__search {
    display: flex;
    align-items: center;
    margin-left: 558px;
}

.item-home {
    display:inline-block;
    text-align: start;
    padding: 10px;
    border: 5px solid transparent;
    margin-right: 900px;
}

.item-home:hover {
    border: 6px groove #13e;
    border-radius: 42%;
    transition: border .25s, border-radius .40s, background-color .20s;
    background-color: #00f4;
    color: #000;
}

.b__search {
    font-family: 'Times New Roman';
    border-radius: 14px;
    box-shadow: 0px 0px 14px #000;
    color: #ffb;
    background-color: #0068;
}

.b__search:hover {
    background-color: #0063;
}

.i__bar-search {
    border-radius: 10px;
    font-family: 'Times New Roman';
    border: 4px groove #000;
}

a {
    color: #fff9;
    text-decoration: none;
}